[submodule "easybuild-easyconfigs"]
	path = easybuild-easyconfigs
	url = https://github.com/rjeschmi/easybuild-easyconfigs
[submodule "easybuild-easyblocks"]
	path = easybuild-easyblocks
	url = git@github.com:rjeschmi/easybuild-easyblocks.git
[submodule "easybuild-framework"]
	path = easybuild-framework
	url = git@github.com:rjeschmi/easybuild-framework.git
[submodule "easybuild"]
	path = easybuild
	url = git@github.com:rjeschmi/easybuild.git
[submodule "vsc-base"]
	path = vsc-base
	url = git@github.com:rjeschmi/vsc-base.git
[submodule "eb-easyconfigs"]
	path = eb-easyconfigs
	url = git@github.com:rjeschmi/eb-easyconfigs.git
