[submodule "easybuild-easyconfigs"]
	path = easybuild-easyconfigs
	url = https://github.com/rjeschmi/easybuild-easyconfigs
[submodule "easybuild-easyblocks"]
	path = easybuild-easyblocks
	url = git@github.com:rjeschmi/easybuild-easyblocks.git
